@tailwind base;
@tailwind components;
@tailwind utilities;

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 3rem;
  border-radius: 10px;
  border-color: 2px solid white;
  cursor: pointer;

  /* dark mode */
  box-shadow: 3px 3px 5px 3px rgba(255, 255, 255, 0.3);
  /* light mode */
  /* box-shadow: 4px 4px 4px rgb(0, 0, 0); */
}

.service-card:hover {
  transition: all 300ms ease-in-out;
  transform: scale(1.02);
  box-shadow: 3px 3px 5px 3px rgb(95, 8, 255);
}

.icon svg {
  width: 4rem;
  height: 4rem;
}

.service-title {
  font-size: 1.5rem;
}
